<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rectangle Calculator</title>
</head>
<body>
    <h2>Tính diện tích và chu vi hình chữ nhật</h2>

    <form action="/rectangle/calc" method="post">
        <label>Chiều dài:</label>
        <input type="number" name="length" required> <br><br>

        <label>Chiều rộng:</label>
        <input type="number" name="width" required> <br><br>

		<label>Chiều cao:</label>
		  <input type="number" name="hight" required> <br><br>
        <button type="submit">Tính</button>
    </form>

    <div th:if="${area != null}">
        <p> Diện tích: <span th:text="${area}"></span></p>
        <p> Chu vi: <span th:text="${perimeter}"></span></p>
		<p> the tich: <span th:text="${v}"></span></p>
    </div>
</body>
</html>
